@import 'scss/bootstrap-variables';
@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "scss/general";
@import "scss/common";
@import "scss/footer";
@import "scss/navbar";
@import "scss/meteorstatus";
@import "scss/nav";
@import "scss/section";








.block-title {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}




.fs-xs {
  font-size: $font-size-h6;
}

.font-arial {
  font-family: $font-family-arial;

  .fs-xs {
    letter-spacing: 0.03em;
  }
}





.profile-pic {
  border-radius: 50%;
}




.boxshadow-lighter {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14);
}
