<template name="coachesFormFieldset">
  <fieldset>
    <legend>Основная информация</legend>
    <div class="row">
      <div class="col-md-8">
        {{> afQuickField name="name" autofocus=''}}
        {{> afQuickField name="bio"}}
      </div>
      <div class="col-md-4">
        {{> afQuickField name="profilePicUrl"}}
      </div>
    </div>

    <legend>Ссылки на социальные сети</legend>
    <div class="row">
      <div class="col-md-6">
        {{> afQuickField name="socialLinkVK"}}
      </div>
      <div class="col-md-6">
        {{> afQuickField name="socialLinkOdnoklassniki"}}
      </div>
      <div class="col-md-6">
        {{> afQuickField name="socialLinkFacebook"}}
      </div>
      <div class="col-md-6">
        {{> afQuickField name="socialLinkYouTube"}}
      </div>
      <div class="col-md-6">
        {{> afQuickField name="socialLinkTwitter"}}
      </div>
    </div>

  </fieldset>
</template>
