<template name="eventsFormFieldset">
  <fieldset>
    <legend>Основная информация</legend>
    <div class="row">
      <div class="col-md-8 col-md-push-4">
        {{> afQuickField name="title" autofocus=""}}
      </div>
      <div class="col-md-4 col-md-pull-8">
        {{> afQuickField name="categoryId"}}
      </div>
    </div>
    {{> afQuickField name="isPublished"}}
    {{> afQuickField name="dates"}}
    {{> afQuickField name="price"}}
    <legend>Описание</legend>
    {{> afQuickField name="description"}}
    {{> afQuickField name="imageId"}}
    {{> afQuickField name="bannerImageId"}}

    <legend>Тренера/ведущие</legend>
    <div class="row">
      <div class="col-md-8">
        {{> afQuickField name="coachesIds"}}
        <a href="{{pathFor 'dashboard.organizer.coach.modify' organizerId=organizerId}}" target="_blank" class="btn btn-link btn-sm pull-right m-t-negative-10">
          Создать нового тренера
          <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-4">
        {{> afQuickField name="coachesCollectiveLabel"}}
      </div>
    </div>

    <legend>Контактная информация</legend>
    <div class="row">
      <div class="col-md-7">
        {{> afQuickField name="location"}}
      </div>
      <div class="col-md-5">
        <p class="text-muted">
          <small>
            <div class="visible-md-block visible-lg-block m-t-15"></div>
            <p>Остальные данные для&nbsp;контактов берутся из&nbsp;данных Организации.</p>
            <a href="{{pathFor 'dashboard.organizer.update' _id=organizerId}}" class="btn btn-link btn-sm" target="_blank">
              Изменить контактные данные
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </small>
        </p>
      </div>
    </div>

  </fieldset>
</template>
