<template name="eventsFormFieldset">
  <fieldset>
    <legend class="col-xs-12">Основная информация</legend>
    {{> afQuickField name="title" template="contemporary" autofocus=""}}
    {{> afQuickField name="categoryId" template="contemporary" data-minimumResultsForSearch="Infinity"}}
    {{> afQuickField name="price" template="bootstrap3"}}
    {{> afQuickField name="dates" template="bootstrap3"}}
    <legend class="col-xs-12">Описание</legend>
    {{> afQuickField name="description" template="bootstrap3"}}
    {{> afQuickField name="imageUrl" template="contemporary"}}
    {{> afQuickField name="bannerUrl" template="contemporary"}}

    <legend class="col-xs-12">Контактная информация</legend>
    <div class="row">
      <div class="col-md-7">
        {{> afQuickField name="location" template="bootstrap3"}}
      </div>
      <div class="col-md-5">
        <p class="text-muted fs-xs">
          <div class="visible-md-block visible-lg-block m-t-15"></div>
          Остальные данные для&nbsp;контактов берутся из&nbsp;данных Организации. Их можно изменить
          <a href="{{pathFor 'dashboard.organizer.update' _id=event.organizer._id}}" target="blank">здесь&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>.
        </p>
      </div>
    </div>

  </fieldset>
</template>
