<template name="dashboardSidenavbar">

  <ul class="nav nav-stacked m-b-60">
    <li>
      <a href="{{pathFor 'dashboard.user'}}" class="toggle-slideout">
        <span class="title">{{username}}</span>
        <span class="icon-thumbnail {{childThereofIsActive 'dashboard.user'}}">
          <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="#" submenu-toggle="events">
        <span class="title">
          Мероприятия
          <span class="arrow {{subMenuIsOpen 'events'}} {{isActive 'dashboard.organizers'}}"></span>
        </span>
        <span class="icon-thumbnail">
          <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
        </span>
      </a>
      <ul class="nav nav-stacked sub-menu {{subMenuIsOpen 'events'}}">
        <li>
          <a href="{{pathFor 'dashboard.events' timeframe='ongoing'}}" class="toggle-slideout">
            <span class="title">Текущие</span>
            <span class="icon-thumbnail {{eventsTimeframeIsActive 'ongoing'}}">
              Т
              <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
            </span>
          </a>
        </li>
        <li>
          <a href="{{pathFor 'dashboard.events' timeframe='upcoming'}}" class="toggle-slideout">
            <span class="title">Предстоящие</span>
            <span class="icon-thumbnail {{eventsTimeframeIsActive 'upcoming'}}">
              П
              <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
            </span>
          </a>
        </li>
        <li>
          <a href="{{pathFor 'dashboard.events' timeframe='past'}}" class="toggle-slideout">
            <span class="title">Завершенные</span>
            <span class="icon-thumbnail {{eventsTimeframeIsActive 'past'}}">
              З
              <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{pathFor 'dashboard.events.bookmarked'}}" class="toggle-slideout">
        <span class="title">Закладки</span>
        <span class="icon-thumbnail {{isActive 'dashboard.events.bookmarked'}}">
          <i class="fa fa-fw fa-bookmark" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="{{pathFor 'dashboard.organizers'}}" class="toggle-slideout">
        <span class="title">
          Организации
          {{#if organizers.count}}
          <span class="arrow {{subMenuIsOpen 'organizers'}} {{childThereofIsActive 'dashboard.organizers'}}" submenu-toggle="organizers"></span>
          {{/if}}
        </span>
        <span class="icon-thumbnail {{isActive 'dashboard.organizers'}}">
          <i class="fa fa-fw fa-building-o" aria-hidden="true"></i>
        </span>
      </a>
      {{#if organizers.count}}
      <ul class="nav nav-stacked sub-menu {{subMenuIsOpen 'organizers'}}">
        {{#each org in organizers}}
        <li>
          <a href="{{pathFor 'dashboard.organizer' _id=org._id}}" class="toggle-slideout">
            <span class="title">{{org.name}}</span>
            <span class="icon-thumbnail {{iconThumbnailClass org.imageId}} {{organizerIsActive org._id}}">
              {{#if org.imageId}}
                <img class="img-organizer-logo-sm img-responsive" src="{{org.imageLink}}">
              {{else}}
                {{textThumbnailAcronym org.name}}
              {{/if}}
            </span>
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    <li>
      <a href="{{pathFor 'dashboard.settings'}}" class="toggle-slideout">
        <span class="title">
          Настройки
        </span>
        <span class="icon-thumbnail {{isActive 'dashboard.settings'}}">
          <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li class="visible-xs-block">
      <a href="#" mo-action="logout">
        <span class="title">
          Выйти
        </span>
      </a>
    </li>
  </ul>

  <img src="http://placehold.it/400x400?text=Реклама" class="img-responsive">

</template>
