<template name="dashboardSidenavbar">

  <ul class="nav nav-stacked m-b-60">

    {{> sidenavbarLi xsOnly=true _pathFor='home' label="Домой" faLabel='home'}}
    {{> sidenavbarSearchAndCategories}}

    <li role="separator" class="divider visible-xs-block"></li>

    {{#if currentUser}}
      {{> sidenavbarLi _pathFor='dashboard.user' label=username faLabel='user-circle'}}
      {{> sidenavbarLi _pathFor='dashboard.messages' label="Сообщения" faLabel='envelope'}}

      <li>
        <a href="#" submenu-toggle="events">
          <span class="title">
            Мероприятия
            <span class="arrow {{subMenuIsOpen 'events'}} {{isActive 'dashboard.organizers'}}"></span>
          </span>
          <span class="icon-thumbnail">
            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
          </span>
        </a>
        <ul class="nav nav-stacked sub-menu {{subMenuIsOpen 'events'}}">
          <li>
            <a href="{{pathFor 'dashboard.events' timeframe='ongoing'}}" class="toggle-slideout-away">
              <span class="title">Текущие</span>
              <span class="icon-thumbnail {{eventsTimeframeIsActive 'ongoing'}}">
                Т
                <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
              </span>
            </a>
          </li>
          <li>
            <a href="{{pathFor 'dashboard.events' timeframe='upcoming'}}" class="toggle-slideout-away">
              <span class="title">Предстоящие</span>
              <span class="icon-thumbnail {{eventsTimeframeIsActive 'upcoming'}}">
                П
                <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
              </span>
            </a>
          </li>
          <li>
            <a href="{{pathFor 'dashboard.events' timeframe='past'}}" class="toggle-slideout-away">
              <span class="title">Завершенные</span>
              <span class="icon-thumbnail {{eventsTimeframeIsActive 'past'}}">
                З
                <!-- <i class="fa fa-fw fa-folder-o" aria-hidden="true"></i> -->
              </span>
            </a>
          </li>
        </ul>
      </li>

      {{> sidenavbarLi _pathFor='dashboard.events.bookmarked' label="Закладки" faLabel='bookmark'}}

      <li>
        <a href="{{pathFor 'dashboard.organizers'}}" class="toggle-slideout-away">
          <span class="title">
            Организации
            {{#if organizers.count}}
            <span class="arrow {{subMenuIsOpen 'organizers'}} {{childThereofIsActive 'dashboard.organizers'}}" submenu-toggle="organizers"></span>
            {{/if}}
          </span>
          <span class="icon-thumbnail {{isActive 'dashboard.organizers'}}">
            <i class="fa fa-fw fa-briefcase" aria-hidden="true"></i>
          </span>
        </a>
        {{#if organizers.count}}
        <ul class="nav nav-stacked sub-menu {{subMenuIsOpen 'organizers'}}">
          {{#each org in organizers}}
          <li>
            <a href="{{pathFor 'dashboard.organizer' _id=org._id}}" class="toggle-slideout-away">
              <span class="title">{{org.name}}</span>
              <span class="icon-thumbnail {{iconThumbnailClass org.imageId}} {{organizerIsActive org._id}}">
                {{#if org.imageId}}
                  <img class="img-organizer-logo-sm img-responsive" src="{{org.imageLink}}">
                {{else}}
                  {{textThumbnailAcronym org.name}}
                {{/if}}
              </span>
            </a>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </li>

      {{> sidenavbarLi _pathFor='dashboard.settings' label="Настройки" faLabel='cog'}}

      {{#if currentUserHasRole 'admin' 'manager'}}
        <li role="separator" class="divider visible-xs-block"></li>
        {{> sidenavbarLi xsOnly=true _pathFor='admin' label="Администрирование" faLabel='terminal'}}
      {{/if}}
      {{> sidenavbarLogoutLi}}

    {{else}}
      {{> sidenavbarLi xsOnly=true href='/login' label="Войти" faLabel='user-circle'}}
    {{/if}}
  </ul>

  <img src="http://placehold.it/400x400?text=Реклама" class="img-responsive">
  <div class="text-muted h6">
    <i class="fa fa-money" aria-hidden="true"></i> Реклама
  </div>

</template>
