<template name="eventListItem">
  {{#with event}}
    <li>
      <div class="row">
        <div class="col-md-6">
          <span class="btn-sized overflow-ellipsis">
            {{title}}
          </span>
          <br>
          <button class="btn btn-info-alt btn-sm"><i class="fa fa-fw fa-heart" aria-hidden="true"></i> 2,100</button>
          <button class="btn btn-info-alt btn-sm"><i class="fa fa-fw fa-address-book" aria-hidden="true"></i> 1,016</button>
          <button class="btn btn-info-alt btn-sm"><i class="fa fa-fw fa-eye" aria-hidden="true"></i> 12,732</button>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <a href="{{pathFor 'event' _id=organizer._id}}" class="btn btn-default"><i class="fa fa-fw fa-id-card-o" aria-hidden="true"></i> Страница</a>
            <a href="{{pathFor 'dashboard.organizer.event.modify' organizerId=organizer._id eventId=_id}}" class="btn btn-default"><i class="fa fa-fw fa-edit" aria-hidden="true"></i> Редактировать</a>
            <button class="btn btn-danger-alt" mo-action="remove"><i class="fa fa-fw fa-trash" aria-hidden="true"></i><span class="sr-only"> Удалить</span></button>
          </div>
        </div>
      </div>
    </li>
  {{/with}}
</template>
