<template name="navbar">

  <header role="banner">
    <nav class="navbar navbar-inverse navbar-primary" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-center">
            <li>
              <a href="/">
                <div class="logo-navbar-left">Открытая<br>психология</div>
                <img class="logo-navbar-middle" src="/assets/logo.png" alt="Открытая психология логотип">
                <div class="logo-navbar-right">Мероприятия, посвященные<br>личностному развитию</div>
              </a>
            </li>
          </ul>
          <div class="position-relative text-center">

            <!-- Navbar right -->
            <ul class="nav navbar-nav navbar-right">
              {{#if currentUser}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"
                aria-label="Отобразить панель пользователя">
                  <span>{{username}}</span>
                  <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{pathFor 'dashboard.user'}}"><i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> Профиль</a></li>
                  <li><a href="{{pathFor 'dashboard.events' timeframe='ongoing'}}"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> Мероприятия</a></li>
                  <li><a href="{{pathFor 'dashboard.events.bookmarked'}}"><i class="fa fa-fw fa-bookmark" aria-hidden="true"></i> Закладки</a></li>
                  {{#if managedOrganizers}}
                    <li><a href="{{pathFor 'dashboard.organizers'}}"><i class="fa fa-fw fa-building" aria-hidden="true"></i> Организации</a></li>
                    <li class="divider"></li>
                    {{#each organizer in managedOrganizers}}
                      <li>
                        <a href="{{pathFor 'dashboard.organizer' _id=organizer._id}}">
                          {{#if organizer.imageId}}
                            <img class="img-organizer-logo-xs desaturate" src="{{organizer.imageLink}}">
                          {{else}}
                            <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i>
                          {{/if}}
                          {{organizer.name}}
                        </a>
                      </li>
                    {{/each}}
                    <li class="divider"></li>
                  {{/if}}
                  <li><a href="{{pathFor 'dashboard.settings'}}"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Настройки</a></li>
                  <li>{{> atNavButton}}</li>
                </ul>
              </li>
              {{else}}
                <li>{{> atNavButton}}</li>
              {{/if}}
            </ul>
            <!-- eof Navbar right -->

            <!-- Navbar center -->
            <ul class="nav navbar-nav navbar-center">
              <li class="{{isActiveRoute 'home'}}"><a href="/"><i class="fa fa-fw fa-home nav-home" aria-hidden="true"></i><span class="sr-only">Главная</span></a></li>
              <li class="{{searchbarActive}}"><a href="#" id="showSearchbar"><i class="fa fa-fw fa-search nav-home" aria-hidden="true"></i><span class="sr-only">Поиск</span></a></li>
              {{#each category in categories}}
                {{> navbar_category category=category currentCategories=currentCategories showSearchbar=showSearchbar}}
              {{/each}}
              <li><a href="#">Статьи</a></li>
            </ul>
            <!-- eof Navbar center -->

          </div>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header><!-- header role="banner" -->

</template>
