<template name="footer">

  <footer class="primary {{footerClass}}">
    <div class="{{containerClass}}">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <img src="assets/logo.png" alt="Логотип сайта"><span>Открытая психология</span><br>
          </div>

          <ul class="nav navbar-nav nav-inverse fs-xs nav-no-style">
            <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Реклама</a></li>
            <li class="inline no-padding"><a href="#" class="link text-white p-l-10 p-r-10 b-r b-transparent-white">О проекте</a></li>
            <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Условия</a></li>
            <li class="inline no-padding"><a href="#" class="link text-white p-r-10 b-r b-transparent-white">Блог</a></li>
            <li class="inline no-padding"><a href="#" class="link text-white p-l-10 p-r-10 b-r b-transparent-white">Поддержка</a></li>
          </ul>

        </div>
        <div class="col-sm-6 text-right fs-xs">

          <ul class="nav navbar-nav pull-right xs-pull-left xs-m-t-20 h3 nav-no-style nav-inverse m-b-30 nav-wide-padding"><!--TODO: check classes -->
            <li><a href="#" class="white"><i class="fa fa-vk"></i><span class="sr-only">ВКонтакте</span></a></li>
            <li><a href="#" class="white"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li><a href="#" class="white"><i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
            <li><a href="#" class="white"><i class="fa fa-envelope-o"></i><span class="sr-only">Электронная почта</span></a></li>
          </ul>
          <div class="clearfix"></div>


          <div>Copyright<span aria-hidden="true"> ©</span> 2016 Открытая психология. Все права защищены.</div>
          <div>Разработка <a href="#">Anthony Boutinov</a><span aria-hidden="true">.</span></div>
        </div>

      </div>
    </div>
  </footer>

</template>
