<template name="footer">

  <footer class="primary {{footerClass}}">
    <div class="{{containerClass}}">

      {{#unless ultraCompact}}
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <img src="assets/logo.png" alt="Логотип сайта"><span>Открытая психология</span><br>
          </div>

          <ul class="nav navbar-nav fs-xs">
            <li><a href="#" target="_blank">Реклама</a></li>
            <li><a href="#" target="_blank">О проекте</a></li>
            <li><a href="#" target="_blank">Условия</a></li>
            <li><a href="#" target="_blank">Блог</a></li>
            <li><a href="#" target="_blank">Поддержка</a></li>
          </ul>

        </div>
        <div class="col-sm-6 text-right fs-xs">

          <ul class="nav navbar-nav social-links pull-right xs-pull-left xs-m-t-20">
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-vk"></i><span class="sr-only">ВКонтакте</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-envelope-o"></i><span class="sr-only">Электронная почта</span></a></li>
          </ul>
          <div class="clearfix"></div>

          <div>Copyright<span aria-hidden="true"> ©</span> 2016 Открытая психология. Все права защищены.</div>
          <div>Разработка <a href="#">Anthony Boutinov</a><span aria-hidden="true">.</span></div>
        </div>

      </div>
      {{else}}
      <div class="row">
        <div class="col-md-6 col-md-offset-3 fs-xs text-center">

          <div class="logo">
            <img src="assets/logo.png" alt="Логотип сайта"><span>Открытая психология</span><br>
          </div>

          <ul class="nav navbar-nav fs-xs nav-no-style">
            <li><a href="#" class="link p-l-10 p-r-10">Реклама</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">О проекте</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">Условия</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">Блог</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">Поддержка</a></li>
          </ul>
          <div class="clearfix"></div>

          <div>Copyright<span aria-hidden="true"> ©</span> 2016 Открытая психология. Все права защищены.</div>
          <div>Разработка <a href="#">Anthony Boutinov</a><span aria-hidden="true">.</span></div>

        </div>
      </div>
      {{/unless}}
    </div>
  </footer>

</template>
