<template name="footer">

  <footer class="primary footer-{{footerClass}}">
    <div class="{{containerClass}}">

      {{#unless ultraCompact}}
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <img src="/assets/logo{{#if footerIsLight}}-dark{{/if}}.png" alt="Логотип сайта"><span>Открытая психология</span><br>
          </div>

          <ul class="nav navbar-nav fs-xs">
            <!-- <li><a href="#">Реклама</a></li> -->
            <!-- <li><a href="#">О проекте</a></li> -->
            <li><a href="{{pathFor 'markdown' name='terms'}}">Условия</a></li>
            <li><a href="{{pathFor 'markdown' name='privacy'}}">Приватность</a></li>
            <!-- <li><a href="#">Блог</a></li> -->
            <li><a href="mailto:support@open-p.ru&subject=Вопрос%20по%20работе%20сайта%20Открытая%20психология">Поддержка</a></li>
            <!-- <li><a href="mailto:support@open-p.ru&subject=Открытая%20психология">Обратная связь</a></li> -->
            <li><a href="https://vk.com/openpsy16">ВКонтакте</a></li>
          </ul>

        </div>
        <div class="col-sm-6 text-right fs-xs">

          <!-- <ul class="nav navbar-nav social-links pull-right xs-pull-left xs-m-t-20">
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-vk"></i><span class="sr-only">ВКонтакте</span></a></li> -->
            <!-- <li><a href="#" target="_blank"><i class="fa fa-fw fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-fw fa-instagram"></i><span class="sr-only">Instagram</span></a></li> -->
            <!-- <li><a href="#" target="_blank"><i class="fa fa-fw fa-envelope-o"></i><span class="sr-only">Электронная почта</span></a></li>
          </ul> -->
          <div class="clearfix"></div>


          <div class="m-b-20">
            <a class="btn btn-default{{#unless footerIsLight}}-alt{{/unless}}" href="mailto:support@open-p.ru&subject=Пожелания%20по%20работе%20сайта%20Открытая%20психология"><i class="fa fa-fw fa-comment" aria-hidden="true"></i> Оставьте пожелания по работе сайта</a>
          </div>

          <div>Copyright<span aria-hidden="true"> ©</span> 2017 Открытая психология. Все&nbsp;права&nbsp;защищены.</div>
          <div>Разработка <a href="https://boutinov.com">Anthony Boutinov</a><span aria-hidden="true">.</span></div>
        </div>

      </div>
      {{else}}
      <div class="row">
        <div class="col-md-6 col-md-offset-3 fs-xs text-center">

          <div class="logo">
            <img src="/assets/logo{{#if footerIsLight}}-dark{{/if}}.png" alt="Логотип сайта"><span>Открытая психология</span><br>
          </div>

          <!-- <ul class="nav navbar-nav fs-xs nav-no-style">
            <li><a href="#" class="link p-l-10 p-r-10">Реклама</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">О проекте</a></li>
            <li><a href="{{pathFor 'markdown' name='terms'}}" class="link p-l-10 p-r-10">Условия</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">Блог</a></li>
            <li><a href="#" class="link p-l-10 p-r-10">Поддержка</a></li>
          </ul>
          <div class="clearfix"></div> -->

          <div>Copyright<span aria-hidden="true">&nbsp;©</span>&nbsp;2017 Открытая&nbsp;психология. Все&nbsp;права&nbsp;защищены.</div>
          <div>Разработка <a href="https://boutinov.com">Anthony&nbsp;Boutinov</a><span aria-hidden="true">.</span></div>

        </div>
      </div>
      {{/unless}}
    </div>
  </footer>

</template>
