<template name="adminSidenavbar">
  <ul class="nav nav-stacked m-b-60">

    {{> sidenavbarLi xsOnly=true _pathFor='home' label="Домой" faLabel='home'}}
    {{> sidenavbarSearchAndCategories}}
    <li role="separator" class="divider visible-xs-block"></li>

    {{> sidenavbarLi _pathFor='admin' label='Обзор' faLabel='dashboard'}}
    {{> sidenavbarLi _pathFor='admin.users' label='Пользователи' faLabel='user'}}
    {{> sidenavbarLi _pathFor='admin.organizers' label='Организации' faLabel='briefcase'}}
    {{> sidenavbarLi _pathFor='admin.userFiles' label='Загружаемые файлы' faLabel='files-o'}}
    {{> sidenavbarLi _pathFor='admin.groups' label='Группы' faLabel='object-group'}}
    {{> sidenavbarLi _pathFor='admin.ads' label='Реклама' faLabel='money'}}

    <li role="separator" class="divider visible-xs-block"></li>

    {{> sidenavbarLi xsOnly=true _pathFor='dashboard.user' label="Выйти из админки" faLabel='user-circle-o'}}
    {{> sidenavbarLogoutLi}}
  </ul>
</template>
