<template name="changePasswordForm">
  <h3>Сменить пароль</h3>
  <form action="/reset-password"  id="changePasswordForm" method="post">
    <div class="form-group form-group-contemporary">
      <label class="control-label" for="old-password">Текущий пароль</label>
      <input class="form-control" type="password" id="old-password" name="old-password">
      <span class="help-block hidden"></span>
    </div>

    <div class="form-group form-group-contemporary">
      <label class="control-label" for="new-password">Новый пароль</label>
      <input class="form-control" type="password" id="new-password" name="new-password">
      <span class="help-block hidden"></span>
    </div>

    <div class="form-group form-group-contemporary">
      <label class="control-label" for="new-password-confirm">Новый пароль (повтор)</label>
      <input class="form-control" type="password" id="new-password-confirm" name="new-password-confirm">
      <span class="help-block hidden"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-wider">Сменить пароль</button>
  </form>
</template>
