<template name="settingsEmailForm">
  <h3>Сменить email</h3>
  {{#autoForm collection="Meteor.users" doc=currentUser id="updateUserForm_email" type="update" template="contemporary"}}
    {{> afQuickField name='emails.0.address'}}
  {{/autoForm}}
  <p class="text-muted {{#if emailVerified}}m-b-0{{/if}}"><small>Изменения вступают в силу сразу.</small></p>
  {{#unless emailVerified}}
    <div class="alert alert-warning">
      <div class="alert-body">
        <p>Email не подтвержден. Ранее Вам было выслано письмо с инструкцией.</p>
        <a href="#" class="btn btn-warning" mo-action="resendConfirmationEmail">
          <i class="fa fa-fw fa-paper-plane-o" aria-hidden="true"></i>
          Выслать письмо еще раз
        </a>
      </div>
    </div>
  {{/unless}}
</template>
