.alert-closable {
  padding-right: 30px;

  &:hover {
    .alert-close {
      opacity: 0.4;
    }
  }

  .alert-close {
    margin-right: -15px;
    opacity: 0;
    &:hover {
      opacity: 0.7;
    }
  }
}

.alert-default {
  background-color: #fff;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-small;

  color: $text-muted;
}
