
/*
 * Default button
 * (override for correct background colors)
 */
.btn-default {

  &:focus,
  &.focus {
    background-color: $btn-default-focus-bg;
  }
  &:hover {
    background-color: $btn-default-hover-bg;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $btn-default-focus-bg;

    &:hover,
    &:focus,
    &.focus {
      background-color: $btn-default-focus-hover-bg;
    }
  }

}


/*
 * Social buttons
 */
.btn-vk {
  @include button-variant(#fff, $btn-vk-bg, $btn-vk-border);
}

.btn-facebook {
  @include button-variant(#fff, $btn-facebook-bg, $btn-facebook-border);
}

.btn-googleplus {
  @include button-variant(#fff, $btn-googleplus-bg, $btn-googleplus-border);
}

.btn-youtube {
  @include button-variant(#fff, $btn-youtube-bg, $btn-youtube-border);
}

.btn-twitter {
  @include button-variant(#fff, $btn-twitter-bg, $btn-twitter-border);
}

.btn-odnoklassniki {
  @include button-variant(#fff, $btn-odnoklassniki-bg, $btn-odnoklassniki-border);
}


/*
 * Other buttons
 */
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

$btn-alt-bg-hover-transparecy:        (1 - 0.14);
$btn-alt-bg-focus-transparecy:        0.7;
$btn-alt-bg-active-transparecy:       0.7;
$btn-alt-bg-activehover-transparecy:  0.6;

@mixin btn-alt ($color) {
  @extend .btn-default;

  // &.btn-wider {
  //   border-left: 1px solid transparentize($color, 0.5);
  //   border-right: 1px solid transparentize($color, 0.5);
  //
  //   &:active,&.active,&.hover,&:hover,&.focus,&:focus {
  //     border-left-color: transparent;
  //     border-right-color: transparent;
  //   }
  // }

  & > i.fa {
    color: $color;
  }

  &:active, &.active {
    background-color: transparentize($color, $btn-alt-bg-active-transparecy);
    &:hover, &.hover,
    &:focus, &.focus {
      background-color: transparentize($color, $btn-alt-bg-activehover-transparecy);
    }
  }
  &:focus, &.focus {
    background-color: transparentize($color, $btn-alt-bg-focus-transparecy);
  }
  &:hover, &.hover {
    background-color: transparentize($color, $btn-alt-bg-hover-transparecy);
  }
}

.btn-info-alt {
  @include btn-alt($brand-info);
}

.btn-danger-alt {
  @include btn-alt($brand-danger);
}

.btn-primary-alt {
  @include btn-alt($brand-primary);
}

.btn-warning-alt {
  @include btn-alt($brand-warning);
}

.btn-success-alt {
  @include btn-alt($brand-success);
}




/*
 * Additional button sizes
 */

.btn-xl {
  @extend .btn-lg;
  border-radius: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn-wider {
  padding-left: 30px;
  padding-right: 30px;
}
