.btn-default {

  &:focus,
  &.focus {
    background-color: $btn-default-focus-bg;
  }
  &:hover {
    background-color: $btn-default-hover-bg;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $btn-default-focus-bg;

    &:hover,
    &:focus,
    &.focus {
      background-color: $btn-default-focus-hover-bg;
    }
  }

}
