$calendar-event-next-color: #fff;
$calendar-event-next-bg:    #fb9e2e;
$calendar-event-upcoming-color: #d26746;
$calendar-event-upcoming-bg:  #fee9cc;

.calendar-event {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: $border-radius-base;
  position: relative;

  &-passed {
    background-color: $gray-lightest;
    color: $gray-light;
  }

  &-next {
    color: $calendar-event-next-color;
    background-color: $calendar-event-next-bg;

    .btn-default {
      @include button-variant($calendar-event-next-color, $calendar-event-next-bg, $calendar-event-next-bg);
    }
  }

  &-upcoming {
    color: $calendar-event-upcoming-color;
    background-color: $calendar-event-upcoming-bg;

    .btn-default {
      @include button-variant($calendar-event-upcoming-color, $calendar-event-upcoming-bg, $calendar-event-upcoming-bg);
    }
  }


  &-relative-date {
    font-weight: 300;
  }

  &-absolute-date {
    font-weight: 500;
  }

  &-time {
    font-weight: 500;
  }

  &-location {
    font-weight: 700;
  }

  > .btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  &-price {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;

    div {
      font-size: $font-size-h4;
    }

    &-sale {
      background-color: $btn-success-bg;
      color: $btn-success-color;
    }

    &-regular {
      background-color: $gray-lighter;
      color: $gray-light;
    }
  }

}
