.color-light {
  &, & > a {
    color: #fff;
  }
}

ul.breadcrumb.color-light > li > a, .btn.color-light {
  &:hover, &:focus, &.hover, &.hocus {
    color: #f0f0f0 !important;
  },
  &:active, &.active {
    color: #fff !important;
  }
}
ul.breadcrumb.color-light > li > a, .btn.color-light {
  color: rgba(255, 255, 255, 0.85) !important;
}

.breadcrumb.color-light > li + li:before {
  color: rgba(255, 255, 255, 0.5);
}

.btn.color-light {
  &:hover, &:focus, &.hover, &.hocus {
    background-color: opacify($btn-default-hover-bg, 0.1) !important;
  }
}
