span[contenteditable] {
  border-bottom: 2px solid $input-border;
  margin-bottom: -2px;
  outline: none;
  min-width: 2em;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;

  &:focus {
    border-bottom-color: $input-focus-border;
  }

  & ~ div {
    position: absolute;
    font-family: $font-family-base;
    font-size: 11px;
    opacity: 0.7;
    margin: 3px 0 0 0;
  }
}

[data-conteneditable="true"] {
  display: inline-block;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  cursor:text;
  max-width: 100%;
  overflow-wrap: break-word;

  -webkit-transition: border-bottom .8s linear 2s;
  -moz-transition: border-bottom .8s linear 2s;
  -ms-transition: border-bottom .8s linear 2s;
  -o-transition: border-bottom .8s linear 2s;
  transition: border-bottom .8s linear 1s;

  &:hover, &:focus {
    border-bottom: 2px solid $input-border;
  }
}
