.container-fluid-wings {
  margin-left: -60px;
  margin-right: -60px;
  padding-left: 60px;
  padding-right: 60px;
}

.dashboard-page-heading {
  background-color: #f0f0f0;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
  padding-top: 50px;
  // color: white;
  min-height: 300px;
}

.dashboard-page-heading-actions {
  margin-top: -80px;
  margin-bottom: (80px - 33px);
  position: relative;
  height: 33px;
}
