footer.primary {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;

  .logo {
    margin-bottom: 10px;
    img {
      width: 32px;
      margin-right: 12px;
    }
    span {
      font-size: $font-size-h4;
    }
  }

  .defaultLayout & {

    @media screen and (min-width: $screen-md-min) {
      height: $footer-height;
    }

    .logo {
      span {
        color: #fff;
      }
    }

    a {
      color: #d1d1d1;
      &:hover, &:focus, &:active {
        color: white;
      }
    }



    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;
    border-color: $navbar-inverse-border;
  }


  .accountsLayout & {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    color: $text-muted;
  }

}

.footer-light {
  color: $text-muted;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.02);
}
