footer.primary {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;

  @media screen and (min-width: $screen-md-min) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // height: $footer-height;

    ul.nav {
      & > li:first-child > a {
        padding-left: 0;
      }
      & > li:last-child > a {
        padding-right: 0;
      }
    }
  }

  .logo {
    img {
      width: 32px;
      margin-right: 12px;
    }
    span {
      font-size: $font-size-h4;
      font-family: $font-family-headings;
      font-weight: 400;
    }
  }

  .accountsLayout & {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    color: $text-muted;
  }

  @media screen and (max-width: $screen-sm-max) {
    ul.nav > li {
      display: inline-block;
    }
  }


  .social-links {
    font-size: $font-size-h3;
    @media screen and (min-width: $screen-md-min) {
      margin-top: -10px;
      margin-bottom: 5px;
    }
  }

}

.footer-light {
  color: $text-muted;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.02);
  a {
    &, &:hover, &:focus, &:active {
      background-color: transparent !important;
    }
  }

}

.footer-dark {
  background-color: $navbar-inverse-bg;
  color: transparentize($navbar-inverse-color, 0.2);
  font-weight: 500;

  .logo {
    span {
      color: #fff;
    }
  }

  a {
    color: $navbar-inverse-color;
    &:hover, &:focus, &:active {
      color: #fff;
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
  }
}
