footer.primary {

  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;

  a {
    color: #d1d1d1;
    &:hover, &:focus, &:active {
      color: white;
    }
  }

  .logo {
    margin-bottom: 10px;
    img {
      width: 32px;
      margin-right: 12px;
    }
    span {
      color: white;
      font-size: $font-size-h4;
    }
  }

  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  border-color: $navbar-inverse-border;

}
