.fulldescription {

  &-main {
    background: white;
    border: 1px solid rgba(0,0,0,0.1);

    &>img:first-child {
      margin-left: -1px;
      margin-right: -1px;
      margin-top: -1px;
      max-width: calc(100% + 2px);
    }
  }

  &-heading {
    padding-left: 30px;
    padding-right: 30px;
  }

  &-category {
    @extend .block-title;
    @extend .fulldescription-heading;
    margin-top: 0;
    margin-bottom: 20px;
    color: $gray-doublelight;
  }

  &-body {
    padding: 0 30px 30px 30px;

    & .list-item {
      margin: 30px auto;
    }
  }

  &-actions {
    background-color: $gray-lightest;
    padding: 10px 30px 10px 30px;
    text-align: right;
    margin-bottom: 30px;

    a, label {
      font-size: $font-size-h5;
    }
  }

}
