.fulldescription-main {
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
}

.fulldescription-heading {
  padding-left: 30px;
  padding-right: 30px;
}

.fulldescription-body {
  padding: 0 30px 30px 30px;
}

.fulldescription-actions {
  background-color: $gray-lightest;
  padding: 10px 45px 10px 15px;
  text-align: right;

  a, label {
    font-size: $font-size-h5;
  }
}
