// Hide Scrollbar in Edge, IE 10/11
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

textarea {
  resize: vertical;
}

a, a i, button, input[type="submit"] {
    -webkit-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);

    .navbar-nav > li > & {
      -webkit-transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .5s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .5s cubic-bezier(0.645, 0.045, 0.355, 1);
      -ms-transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .5s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .5s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: color .2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

h1, .h1, h2, .h2, h3, .h3 {
  &:not(.panel-title) {
    font-family: $font-family-headings;
    font-weight: 400;
  }
}
.letter-spaced {
  letter-spacing: 0.2em;
}

.panel-title {
  font-weight: $font-size-base;
  // letter-spacing: normal;
}

em {
  text-decoration: underline;
}

p.small {
  margin-bottom: 0.3em;
}


.btn {
  font-family: $font-family-base;
}

.dropdown-menu > li > a {
  &, & > i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  &:hover, &:focus {
    color: #fff;
    background-color: $gray-doublelight;

    .desaturate {
      @include desaturate-invert;
    }
  }
}


@media screen and (min-width: $screen-sm-min) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.text-danger {
  color: $brand-danger !important;
}
.text-success {
  color: $brand-success !important;
}
.text-info {
  color: $brand-info !important;
}
.text-warning {
  color: $brand-warning !important;
}

.breadcrumb {
  position: relative;
}

.dropdown-menu.drop-left {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  margin: 5px 0;
  height: 2px;
  background-color: rgba(135, 135, 135, 0.2);
}

// TODO: What was that?
// .panel {
//   background-color: $gray-lightest;
// }


.version-sticker {
  position: fixed;
  top: -20px;
  padding-top: 19px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 0 0 50% 50%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  &.alpha {
    background-color: rgba(221, 173, 77, 1);
    color: #fff;
  }

  a {
    color: #fff;
    cursor: help;
  }
}

.font-headings {
  font-family: $font-family-headings;
}

[data-momentum]>.dropdown {
  z-index: 1000;
}


@keyframes animation-zoom-out-front {
    0% {
      transform: scale(1.0);
      opacity: 1;
    }
    100% {
      transform: scale(3.0);
      opacity: 0;
    }
}

.animation-zoom-out-front {
  // transition: all 0.5s ease-out;
  // transform: scale(3.0);
  // opacity: 0.01;
  display: block !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: animation-zoom-out-front 0.4s ease-out forwards;
}

.link {
  cursor: pointer;
}

// ReactieTable uses label inside menuitems, but they are bold by default, so bring it to normal
[role="menuitem"] > label {
  font-weight: normal;
}
