.list-item {

  &:not(&-inline) {
    -webkit-transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);

    background-color: white;
    max-width: 360px;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    &:hover, &:active, &:focus, &.active {
      box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
    }

    &.list-item-highlited {
      // border: 2px solid #ffeb5e;
      background: rgb(255,254,249);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmVmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZiZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(255,254,249,1) 0%, rgba(255,251,209,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,254,249,1) 0%,rgba(255,251,209,1) 100%);
      background: linear-gradient(to bottom, rgba(255,254,249,1) 0%,rgba(255,251,209,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffef9', endColorstr='#fffbd1',GradientType=0 );
    }

    @media screen and (max-width: $screen-sm-max) {
      div > & {
        border-bottom: 1px solid $gray;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &-text {
    padding-left: 15px;
    padding-right: 15px;

    h4 {
      font-family: $font-family-headings; // TODO: replace this h4 to h2 and remove this line
    }

    .block-title {
      line-height: 33px;
      letter-spacing: 0.2em;
      color: $gray-doublelight;
      font-family: $font-family-headings; // TODO: replace this h5 to h3 and remove this line
    }
  }

  &-date {
    color: $gray-light;

    .progress {
      margin-top: 10px;
      margin-bottom: 0;
      height: 8px;
    }
  }

  &-date-in-progress {
    border-radius: $border-radius-base;
    background-color: $gray-lightest;
    padding: 5px 10px 8px;
  }

  &-bordered & {
    border: 1px solid rgba(0,0,0,0.1);
  }

  &-centered & {
    margin-left: auto;
    margin-right: auto;
  }

}
