@mixin glass-pane ($color) {
  background: $color;
  @supports ((backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg)) or (-webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg))) {
    backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    -webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    background: transparentize(darken(saturate($color, 100%), 21%), $glass-pane-opacity);
  }
}

@mixin glass-pane-grayscale ($color) {
  background: $color;
  @supports ((backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg)) or (-webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg))) {
    backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    -webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    background: transparentize(darken($color, 2.8%), $glass-pane-opacity);

  }
}

@mixin desaturate {
  filter: gray;
	filter: url(desaturate.svg#greyscale);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@mixin desaturate-invert {
  -webkit-filter: grayscale(100%) contrast(800%) invert(80%);
  filter: grayscale(100%) contrast(800%) invert(80%);
}

@mixin collection-img ($side) {
  width: $side;
  height: auto;
  max-height: $side;

  &-sm{
    width: $line-height-computed + 10px;
    height: auto;
    max-height: $line-height-computed + 10px;

    h4 & {
      margin-top: -7px;
      margin-bottom: -6px;
      margin-right: 9px;
    }
  }

  &-xs {
    width: 14px;
    height: auto;
    max-height: 14px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -2px;
  }

}
