.panel-section {
  margin-bottom: 20px;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
  clear: both;

  legend {
    margin-bottom: 10px;
    min-height: 38px;
    padding: 20px 0 0 0;
  }

  & > .panel-heading {
    padding: 20px 0px 7px 0px;
    min-height: 48px;
    border-radius: 0;
  }

  & > .panel-heading .panel-title, legend {
    color: #626262;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-stroke: 0px;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  & > .panel-heading {
    position: relative;
    z-index: 3;

    .panel-title {
      margin: 0;
      padding: 0;
    }

    .panel-controls {
      @extend .widget-controls;
      right: 20px !important;
    }

    h1, h2, .h1, .h2 {
      // margin: 0;
      background-color: red !important;
    }

    h3, .h3 {
      letter-spacing: normal;
      margin: 10px 0;
    }
  }


  & > .panel-body {
    padding: 0 0px 20px 0px;
    max-height: none;

    .alert:last-child, .widget:last-child {
      margin-bottom: 0;
    }
  }

  &-opaque {
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 2px;

    & > .panel-body {
      padding-left: 20px;
      padding-right: 20px;
    }

    & > .panel-heading {
      margin-left: -1px;
      margin-right: -1px;
      margin-top: -1px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding-left: 21px;
      padding-right: 21px;

      &.bg-danger {
        border-bottom: 4px solid $brand-danger;
        margin-bottom: 4px;
      }
    }

    .fulldescription-actions {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}

h3, .h3 {
  &.panel-heading {
    letter-spacing: normal;
    margin: 0;
    padding: 20px 0px 17px 0px;
    min-height: 64px;
  }
}
