.panel {
  margin-bottom: 20px;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;

  &-heading {
    padding: 20px 20px 7px 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
  }

  &-title {
    color: #626262;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-stroke: 0px;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  &-body {
    padding: 0 20px 20px 20px;
  }

  h3, .h3 {
    letter-spacing: normal;
    margin: 10px 0;
  }
}
