.widget {
  margin-bottom: 20px;
  border: 1px solid $gray-lighter;
  overflow: hidden;
  position: relative;
  border-radius: $border-radius-small;
  background-color: #fff;

  &-heading {

    position: relative;
    z-index: 1;

    & > a {
      text-transform: uppercase;
      font-weight: 500;
      padding: 20px 15px 10px 15px;
      display: block;
    }

    & > ul.widget-controls {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 21px;
      right: 15px;
      font-size: 12px;

      & > li {
        padding-left: 3px;
        display: inline-block;
        list-style: none;
        line-height: 0;

        & > a {
          color: $gray-light;
          padding-top: 10px;
          padding-bottom: 10px;

          &:hover, &:focus, &:active {
            color: $gray-dark;
          }
        }
      }
    }

    &-inline-block {
      margin: 20px 15px 10px 15px;
      display: inline-block;

      & > a {
        padding: 0;
        display: inline-block;
      }
    }
  }

  &-body {
    padding: 49px 15px 20px 15px;
    margin-top: -49px;
    display: block;
    position: relative;

    & h1 {
      margin: 0 0 5px 0;
    }

    & > span, & > a > span {
      @extend .small;
      line-height: 1.6em;
      vertical-align: bottom;
      display: inline-block;
    }
  }

  &-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;

    > .progress  {
      margin: 0;
    }
  }

  p {
    color: $gray;

    &.text-muted {
      @extend .text-muted;
    }
  }
}


.widget-body .list-item-text {
  padding: 0;

  .block-title {
    line-height: normal;
    margin-top: 0;
  }
}

.widget-img-bg {
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 1px;

  &.text-all-white {
    i.fa {
      color: white !important;
    }
  }

  &-blur {
    position: absolute;
    left: -40px;
    right: -40px;
    top: -40px;
    bottom: -40px;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    filter: blur(30px);
    opacity: 0;
    transform: scale(1.0);
    -webkit-transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity .2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover, &:focus {
    & .widget-img-bg-blur {
      opacity: 1;
    }
  }
}
